    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #02120e;
      font-family: Arial, sans-serif;
    }

    .calculator {
      background: #1e1e2e;
      padding: 20px;
      border-radius: 20px;
      box-shadow: 0 0 20px #000;
    
    }

    #display {
      width: 90%;
      height: 50px;
      font-size: 20px;
      text-align: right;
      margin-bottom: 15px;
      padding: 10px;
      border: none;
      border-radius: 10px;
      background: #2d2d3a;
      color: white;
    }

    button {
      width: 60px;
      height: 60px;
      margin: 5px;
      font-size: 20px;
      border: none;
      border-radius: 15px;
      background: #3a3a4d;
      color: white;
      cursor: pointer;
      transition: 0.2s;
    }

    button:hover {
      background: #5555ff;
    }

    .equal {
      background: #00b894;
    }

    .equal:hover {
      background: #00e0b8;
    }

    .row {
      display: flex;
      justify-content: center;
    }